.transactionHistory {
	width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 5px 5px 10px teal;

    font-family: Roboto;
    font-size: 18px;
}

.tableHead {
	margin-bottom: 20px;
}
.th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}
.td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}